.readee{
position: relative; margin: 0 auto;
width: 500px; height: 100px;
background-color: #202020; color: #9FFBF4;
border: 1px solid #9FFBF4; box-shadow: 0px 12px 8px #183C3E;
text-align: center; line-height: 100px;


}
